# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environments

.venv/
venv/
env/
ENV/
.env

# Jupyter

.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Streamlit

.streamlit/secrets.toml

# VS Code / IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Logs and temporary files

*.log
*.tmp
*.bak

# Build / Distribution

build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# Test / Cache

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Compressed files

*.zip
*.rar
*.7z
*.tar
*.gz

# Local datasets not pushed to GitHub

archive/
